* {
	text-align: center;
	background: #777;
	content: #ebebeb;
}

body {
	font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: darkgray;
}

header, nav, footer {
	padding: 20px;
	height: 50px;
	margin: 10px 50px 20px 50px;
	background-color: white;
	clear: both;
}

.absolute {
	position: absolute;
	height: 100px;
	background: blue;
}

.relative {
	position: relative;
	height: 100px;
	background: red;
}

#section, #aside {
	padding: 20px;
	line-height: 100%;
	height: 280px;
	width: 35%;
	background-color: white;
	float: left;
	margin-left: 75px;
	position: relative;
	clear: both;
}

article {
	padding: 10px;
	height: 200px;
	margin: 10px 50px 10px 50px;
	background-color: gray;
}

.h1, .p {
	padding: 15px;
	height: 25px;
	margin: 10px 50px 10px 50px;
	background-color: white;
	clear: both;
}

*.clear {
}